Jorge Castro DAPT NOV 2021
# Scraping popular songs

Your product will take a song as an input from the user and will output another song (the recommendation). In most cases, the recommended song will have to be similar to the inputted song, but the CTO thinks that if the song is on the top charts at the moment, the user will enjoy more a recommendation of a song that's also popular at the moment.

Find the data on the internet about currently popular songs. Billboard maintains a weekly Top 100 of "hot" songs here: https://www.billboard.com/charts/hot-100.

It's a good place to start! Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [28]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [29]:
r = requests.get('https://www.billboard.com/charts/hot-100/')

In [30]:
r.status_code

200

In [31]:
html = r.content

In [32]:
#html

In [33]:
soup = BeautifulSoup(html, 'html.parser')

In [34]:
#soup

In [35]:
html_songs = soup.find_all('h3', attrs={'id': 'title-of-a-story'})

In [36]:
#html_songs

In [37]:
html_top1 = soup.find_all('span', attrs={'class': 'c-label a-no-trucate a-font-primary-s \
lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 \
lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet'})

In [38]:
html_top1

[<span class="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet">

 	Jack Harlow
 </span>]

In [39]:
html_artists = soup.find_all('span', attrs={'class': 'c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max \
u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 \
u-max-width-230@tablet-only'})

In [40]:
#html_artists

In [41]:
# Looking with "Inspect" in the Billboard chart, a parent class "li" contains the info of both song titles and artists:
# Because the fonts are different, the first song has one class and all the rest of the songs have another class. So 
# we have to put the 2 list toguether.

In [42]:
html_first = soup.find_all('li', attrs={'class': 'o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex \
lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max \
lrv-u-border-color-grey-light lrv-u-padding-l-1@mobile-max'})

In [43]:
#html_first

In [44]:

html_rest = soup.find_all('li', attrs={'class': 'o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex \
lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light \
lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max'})

In [45]:
#html_rest

In [46]:
# I can now join the 2 lists

In [47]:
html_all = html_first + html_rest

In [48]:
#html_all

## Data Cleaning

# Just to have a look at the data after cleaning

for song in html_all:
    print(song.find('h3').get_text())
    print(song.find('span').get_text())

In [49]:
# Creating a DataFrame: here we create two arrays, we loop through the content in html_all
# then we push the data we need into the two arrays. 

song = []
artist = []

for entry in html_all:
    song.append(entry.find("h3").get_text().replace("\n", "").replace('\t', ''))
    artist.append(entry.find("span").get_text().replace("\n", "").replace('\t', ''))
    
# Here we ensamble the DataFrame 
top100 = pd.DataFrame()
top100['song'] = song
top100['artist'] = artist
top100

               song                                       artist
0       First Class                                  Jack Harlow
1         As It Was                                 Harry Styles
2        Heat Waves                                Glass Animals
3        Big Energy                                        Latto
4             Enemy                        Imagine Dragons X JID
..              ...                                          ...
95             Over                                   Lucky Daye
96     Neck & Wrist  Pusha T Featuring JAY-Z & Pharrell Williams
97     Desesperados            Rauw Alejandro & Chencho Corleone
98     X Ultima Vez                     Daddy Yankee & Bad Bunny
99  Praise The Lord               BRELAND Featuring Thomas Rhett

[100 rows x 2 columns]

In [50]:
# Another way to create a DataFrame

chart = []

for entry in html_all:
    col = {'song': entry.find('h3').get_text().replace('\n', "").replace('\t', ""),
           'artist': entry.find('span').get_text().replace('\n', "").replace('\t', "")}
    chart.append(col)

In [51]:
# we obtain an array "chart"

In [52]:
top100_b = pd.DataFrame(chart)

In [53]:
top100_b

               song                                       artist
0       First Class                                  Jack Harlow
1         As It Was                                 Harry Styles
2        Heat Waves                                Glass Animals
3        Big Energy                                        Latto
4             Enemy                        Imagine Dragons X JID
..              ...                                          ...
95             Over                                   Lucky Daye
96     Neck & Wrist  Pusha T Featuring JAY-Z & Pharrell Williams
97     Desesperados            Rauw Alejandro & Chencho Corleone
98     X Ultima Vez                     Daddy Yankee & Bad Bunny
99  Praise The Lord               BRELAND Featuring Thomas Rhett

[100 rows x 2 columns]